@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jockey+One&display=swap');

body {
    font-family: "Inter", "Jockey One", sans-serif;
    font-style: normal;
    justify-content: center;
    display: flex;
    margin: auto;
    background-image: url('../fotos/fundo-roxo-brilhante-w86iba4yd2zs6gao.jpg');
}

.logo {
    height: auto;
    width: auto;
    max-height: 70px;
    max-width: 70px;
}

.pBranco {
    background-color: #D9D9D9;
    height: 100vh;
    width: 40%;
}

.pRoxo {
    background-color: #c89ff694;
    height: 100vh;
    width: 60%;
    text-align: center;
    font-family: "Jockey One";
    border-left: solid black 3px;
}

.tituloCadastro {
    font-size: 60px;
    font-weight: 900;
}

.bv {
    text-align: center;
    font-family: "Jockey One";
    font-size: 50px;
}

.login {
    text-align: center;
    font-family: "Jockey One";
    margin-top: 40px;
}

.input {
    background-color: #3A1542;
    border-radius: 20px;
    color: #D9D9D9;
    width: 350px;
    height: 30px;
    margin-top: 30px;

}

input::placeholder {
    color: #D9D9D9;
}

.cadastro {
    margin-top: 10%;
    margin-bottom: 10%;
}

.botoes {
    margin-top: 50px;

}

.souFornecedor {
    margin-top: 50px;
    background-color: #3A1542;
    border-radius: 20px;
    color: #D9D9D9;
    width: 250px;
    height: 30px;
    
}

.botaoInput {
    margin-left: 28%;
    margin-top: 10%;
}

.carlos {
    background-color: #662475;
    border-radius: 10px;
    color: #D9D9D9;
    width: 250px;
    height: 30px;
    margin-top: 30px;
}
.texto {
    margin-top: 10%;
}